<div>
  <br> <br>
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Term</label>
      <input
        type="text"
        class="form-control"
        id="term"
        [(ngModel)]="searchTerm"
        name="term"
        placeholder="Search"
      />
    </div>
    <button type="submit" (click)="search()" class="btn btn-danger mb-2">
      search
    </button>
    <footer>
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </footer>
  </form>
</div>
  